/* ========== Opening Section ========== */
.opening {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.openingMask {
  width: 100%;
  height: 100%;
  background-color: #374063;
  mask-image: linear-gradient(#000, #000), url("../../public/Circle.svg");
  mask-repeat: no-repeat, no-repeat;
  mask-position: 0 0, center center;
  mask-size: 100% 100%, 0px 0px;
  mask-composite: exclude;
  pointer-events: all;
}

.loadingClose {
  visibility: hidden;
}

.openingGo {
  mask-size: 100% 100%, 500% 500%;
  transition: 2.5s;
  pointer-events: none;
}

.openingMask > div {
  width: min(500px, 100%);
  height: min(500px, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.openingLogo1 {
  width: min(500px, 80%);
  height: auto;
  position: absolute;
}

.openingLogo2 {
  width: min(500px, 80%);
  height: auto;
  position: absolute;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ========== Header Section ========== */
.header {
  width: 100%;
  min-width: 100%;
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.headerLogo {
  padding-left: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogo img {
  width: 80px;
  height: auto;
}

.headerNav {
  width: 700px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.headerNavlist {
  padding-right: 40px;
  width: 650px;
  margin: 12px;
  display: flex;
  justify-content: space-between;
}

.headerNavitem {
  list-style-type: none;
}

.headerNavitem a {
  color: #fff;
  text-decoration: none;
}

/* ========== Menu Button ========== */
.headerMenu {
  padding-right: 20px;
  width: 40px;
  height: 40px;
  margin: 10px;
  background-color: transparent;
  border: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 20;
  visibility: hidden;
}

.headerMenuLogo {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.headerMenuLogoLine {
  width: 1px;
  height: 100%;
  background-color: #fff;
  transform: rotate(90deg);
  opacity: 1;
  transition: 0.4s;
}

.headerMenuLogo :first-child {
  position: absolute;
  top: -15px;
}

.headerMenuLogo :last-child {
  position: absolute;
  top: 15px;
}

/* ========== Responsive ========== */
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    padding: 0;
    background-color: #374063;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    position: fixed;
    opacity: 0;
    transition: 0.4s;
  }

  .headerActive {
    transform: translateX(0%);
    opacity: 1;
  }

  .headerMenu {
    visibility: visible;
  }

  .headerMenuLogoActive :last-child {
    top: 0;
    transform: rotate(-45deg);
  }

  .headerMenuLogoActive :first-child {
    top: 0;
    transform: rotate(45deg);
  }

  .headerMenuLogoActive :nth-child(2) {
    transform: rotate(45deg);
    opacity: 0;
  }

  .headerLogo {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .headerNav {
    width: 100%;
    height: 80%;
    align-items: center;
    position: relative;
  }

  .headerNavlist {
    text-align: center;
    display: inline-block;
    width: 100vw;
    margin: 12px 0;
  }

  .headerNavitem {
    padding: 30px 0;
    font-size: 24px;
  }
}
