.header {
    /* background: #374063; */
    width: 100%;
    min-width: 900px;
    height: 140px;
    /* padding: 25px; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    z-index: 3;
}

.logo {
    padding: 25px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    width: 100px;
    height: 100px;
}

.nav {
    margin-right: 25px;
    padding: 0 25px;
    width: 700px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

.navlist {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.navItem {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        min-width: 100%;

        height: 100vh;
        padding: 0;
        background-color: #374063;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        position: fixed;
        opacity: 0;
        transition: 0.4s;
    }

    .headerActive {
        transform: translateX(0%);
        opacity: 1;
    }

    .logo {
        visibility: visible;
    }

    .logoActive :last-child {
        top: 0;
        transform: rotate(-45deg);
    }

    .logoActive :first-child {
        top: 0;
        transform: rotate(45deg);
    }

    .logoActive :nth-child(2) {
        transform: rotate(45deg);
        opacity: 0;
    }

    .logo {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .nav {
        width: 100%;
        height: 80%;
        align-items: center;
        position: relative;
    }

    .navlist {
        text-align: center;
        display: inline-block;
        width: 100vw;
        margin: 12px 0;
    }

    .navitem {
        padding: 30px 0;
        font-size: 24px;
    }

    .section {
        width: 100%;
        min-width: 100%;
    }
}

