.header {
    width: 100%;
    min-width: 900px;
    height: 100px;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
}

.logo {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    width: 100px;
    height: 100px;
}

.nav {
    width: 700px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

.navlist {
    width: 650px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

.navItem {
    color: #fff;
    text-decoration: none;
}

.headerMenu {
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    top: 0;
    right: 0;
    transform: translatey(0%);
    position: fixed;
    z-index: 20;
    visibility: hidden;
}

.menuLogo {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.menuLogoLine {
    width: 1px;
    height: 100%;
    background-color: #fff;
    transform: rotate(90deg);
    opacity: 1;
    transition: 0.4s;

}

.menuLogo :first-child {
    position: absolute;
    top: -15px;
}

.menuLogo :last-child {
    position: absolute;
    top: 15px;
}

.section {
    width: 100%;
    min-width: 900px;
}

.sectionTop {
    height: 100vh;
}


@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        min-width: 100%;

        height: 100vh;
        padding: 0;
        background-color: #374063;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        position: fixed;
        opacity: 0;
        transition: 0.4s;
    }

    .headerActive {
        transform: translateX(0%);
        opacity: 1;
    }

    .logo {
        visibility: visible;
    }

    .logoActive :last-child {
        top: 0;
        transform: rotate(-45deg);
    }

    .logoActive :first-child {
        top: 0;
        transform: rotate(45deg);
    }

    .logoActive :nth-child(2) {
        transform: rotate(45deg);
        opacity: 0;
    }

    .logo {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .nav {
        width: 100%;
        height: 80%;
        align-items: center;
        position: relative;
    }

    .navlist {
        text-align: center;
        display: inline-block;
        width: 100vw;
        margin: 12px 0;
    }

    .navitem {
        padding: 30px 0;
        font-size: 24px;
    }

    .section {
        width: 100%;
        min-width: 100%;
    }
}

