.header {
    background: #374063;
    width: 100%;
    min-width: 900px;
    height: 150px;
    padding: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 3;

}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg {
    width: 100px;
    height: 100px;
}

.nav {
    width: 700px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

.navlist {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.navItem {
    color: #fff;
    text-decoration: none;
}
