.section {
    width: 100%;
    min-width: 900px;
}
.top {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.block0 {
    width: 100%;
    height: 100%;
    min-width: 300px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
}
.logo {
    width: 100%;
    min-width: 900px;
    height: 400px;
    min-height: 250px;
}
.logoImg {
    width: 400px;
    min-width: 250px;
    height: 400px;
    min-height: 250px;
    margin: auto;
}
.logoImg img { width: 400px; }
.block {
    min-width: 300px;
    flex: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.block img {
    height: 100%;
    min-height: 1000px;
    position: absolute;
    z-index: 0;
}
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #333;
    opacity: .3;
}
@media screen and (max-width: 768px) {
    .section { min-width: 100%; }
    .top { width: 100%; }
    .logo { min-width: 100%; }
    .block { min-width: 100%; }
    .hideOnMobile { display: none; }
}

