@import './variables.css';

.menuTitle {
  padding-left: 175px;
}

.menuContainer {
  margin: 0 auto;
  /*padding: 100px 0 0 10px;*/
  width: 1161px;
  height: 3500px;
  display: flex;
  align-items: flex-start;
}

.menuHeroImage {
  width: 100%;
  height: 300px;
  background-image: url(../../public/menu-hero-background.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 24px; */
}

.menuHeroImage .menuHeroTitle {
  font-size: 48px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.cardsContainer {
}

.menuCategoryList {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 770px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* split the UL into its own class so you can apply it directly in JSX */
.menuCategoryListUl {
  list-style: none;
  padding-left: 0;
  padding-top: 50px;
}

.menuCategory {
  height: 20px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--secondary-text-color);
}

.foodDrinks {
  width: 150px;
}

.menuCategoryListItem {
  color: var(--secondary-text-color);
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}

.menuCardContainer {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 1008px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #333333;
}

.menuSubcategoryTitle {
  width: 1008px;
  height: 70px;
  text-align: left;
  margin-left: 25px;
  margin-top: 10px;
}

/* apply to the heading element directly in JSX */
.menuSubcategoryTitleHeading {
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  margin: 0;
  padding-top: 25px;
}

.selectedListItem {
  padding-left: 10px;
  padding-bottom: 0;
  border-left: 3px solid var(--highlight);
}

.menuCard {
  margin: 25px;
  width: 200px;
  height: 280px;
}

.menuCardImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.menuCardContent {
  padding: 0;
  justify-content: center;
  width: 200px;
  height: 80px;
}

.menuCardTitle {
  margin-left: 0;
  margin-top: 10px;
  font-size: 18px;
  text-align: left;
}

.menuCardPrice {
  margin-left: 0;
  height: 20px;
  font-size: 18px;
  text-align: left;
}