@charset "UTF-8";
body{
    font-family: "Quattrocento", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.header{
    width: 100%;
    min-width: 900px;
    height: 150px;
    padding: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 3;

}
.header-Logo{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-Logo > img{
    width: 100px;
    height: 100px;
}

.header-nav{
    width: 700px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    
}
.header-navlist{
    width: 650px;
    display: flex;
    justify-content: space-between;
}
.header-navitem{}

.header-navitem > a{
    color: #fff;
    text-decoration: none;
}

.section{
    width: 100%;
    min-width: 900px;
}

.section-top{
    height: 100vh;
}

.top{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.top-logo{
    width: 100%;
    min-width: 900px;
    height: 400px;
    min-height: 250px;
}

.top-logo-img{
    width: 400px;
    min-width: 250px;
    height: 400px;
    min-height: 250px;
    /* background-color: #fff; */
    margin: auto;
}

.top-logo-img > img{
    width: 400px;
    
}

.top-block-0{
    width: 100%;
    height: 100%;
    min-width: 300px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
}

.top-block-1{
    min-width: 300px;
    flex: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.top-block-2{
    min-width: 300px;
    flex: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.top-block-3{
    min-width: 300px;
    flex: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.top-block-1 > img{
    height: 100%;
    min-height: 1000px;
    position: absolute;
    z-index: 0;
    transform: translatex(-10%);
    
}

.top-block-2 > img{
    height: 100%;
    min-height: 1000px;
    position: absolute;
    z-index: 0;
    
}
.top-block-3 > img{
    height: 100%;
    min-height: 1000px;
    position: absolute;
    z-index: 0;
    
}

.top-block-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: .3;
}

.section-title{
    text-align: center;
}

.about-bg-img{
    display: inline-block;
    background-image: url(../images/BG01.jpg);
    background-repeat: repeat;
}

.about-bg-img > img{
    background-image: url();
}

.section-header{
    text-decoration: underline solid #000 1px;
    text-underline-offset: 10px;
    margin: 0;
    padding: 40px 0;
}

.about-itme{
    max-width: 1150px;
    min-width: 900px;
    height: 700px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 100px auto;
}

.about-itme-img > img{
    margin: auto 0;
    padding: 0 20px;
    height: 700px;
}

.about-itme-text{
    width: 500px;
    height: 700px;
    padding: 0 20px;
    position: relative;
}

.about-itme-text-line-top{

}

.about-itme-text-line-under{
    position: absolute;
    bottom: 0;
}

.about-itme-text-title{
    padding: 100px 0;
}

.about-itme-text-infor{
    padding: 50px 0;
}

.menu-time{
    background-color: #ff00ff;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.menu-food{
    width: 500px;
    height: 500px;
    background-color: #11441e;
}
.menu-drink{
    width: 500px;
    height: 500px;
    background-color: #6e5f3e;
}


.footer{
    width: 100%;
    min-width: 900px;
    height: 320px;
    background-color: #374063;
    display: block;
}

.footer-nav{
    width: 70%;
    min-width: 900px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer-navlist{
    width: 100% ;
    height: 40px;
    padding: 0 20px 0 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-navitem{
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-navitem > a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.footer-logo{
    width: 50%;
    min-width: 900px;
    height: 150px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.footer-logo-img{
    width: 150px;
    height: 150px;
    margin: auto;
}

.footer-logo-img > img{
    width: 150px;
    height: 150px;
}

.footer-copyright{
    width: 50%;
    min-width: 900px;
    margin: 0 auto;
    padding-top: 40px;
}
.footer-copyright-infor{
    width: 150px;
    height: 20px;
    color: #fff;
    margin: auto;

}