/* footer.css - responsive footer styles */

.footer {
    width: 100%;
    min-width: 900px;
    height: 320px;
    background-color: #374063;
    display: block;
  }

  .footer-nav {
    width: 70%;
    min-width: 900px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .footer-navlist {
    width: 100%;
    height: 40px;
    padding: 0 20px 0 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .footer-navitem {
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-navitem>a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }

  .footer-logo {
    width: 50%;
    min-width: 900px;
    height: 150px;
    margin: 0 auto;
    padding: 10px 0 0 0;
  }

  .footer-logo-img {
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .footer-logo-img>img {
    width: 150px;
    height: 150px;
  }

  .footer-copyright {
    width: 50%;
    min-width: 900px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .footer-copyright-infor {
    width: 150px;
    height: 20px;
    color: #fff;
    margin: auto;

  }




