@import './styles/variables.css';

/* Global styles for App Router */
html, body {
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    font-family: var(--font-primary), serif;
    /* color: var(--primary-text-color); */
}

main {
    /*min-height: 100vh;*/
}
